@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE>
<html lang="en">
<head>
    <title>Stephen Meyers</title>
    <meta name=”Author” content=”Stephen Meyers” />
    <meta name=”Description” content=”Resume” />
    <meta name=”keywords” content=”Resume, student, looking, for, job” />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Resume.css">
</head>

<body>
    <div class="card-container">
        <div class="card">
            <div class="front">
                <h1>Stephen Meyers</h1>
            </div>
            <div class="back">
                <h1>Goodbye</h1>
            </div>
        </div>
    </div>


    <div class="row">
        <nav class="col-sm-8" id="info">
            <p id="info">Phoenix, AZ |</p>
            <p id="info">(602) 475-0323</p>
            <p id="info">| stephen.james.meyers@gmail.com</p>
        </nav>
    </div>
    <h2>Summary</h2>

    <ul>
        <li>
            I'm an upcoming Computer Engineering Technology graduate that has hands on       experience in startup companies as well as personal projects.
            Back-End development is my immediate goal, as is progressing through a company for both company and personal development.
            At school and in my jobs, I've demonstrated team skills and leadership skills.
        </li>
    </ul>

    <h2>Education</h2>
    <p id="subheading">BACHELOR OF SCIENCE | 2016 | DEVRY UNIVERSITY</p>
    <ul>
        <li>Major: Computer engineering Technology</li>
        <li>Dean’s List Recipient (2016)</li>
    </ul>

    <h2>Skills & Abilities</h2>
    <p id="subheading">Memberships</p>
    <ul>
        <li>IEEE – Member # 93810163</li>
        <li>Volunteered and helped team to organize and judge the AZ SkillsUSA technology challenge</li>
    </ul>

    <p id="subheading">Software</p>
    <ul>
        <li>Adept in C++, C#, Java, ASP.NET MVC, CSS and HTML</li>
        <li>Familiar with AngularJS, JSON and JavaScript</li>
        <li>Knowledgeable in SQL database management</li>
    </ul>

    <p id="subheading">Hardware</p>
    <ul>
        <li>
            Experience with embedded systems
        </li>
        <li>
            Analog and digital signal processing
        </li>
    </ul>

    <h2>Experience</h2>
    <p id="subheading">TUTOR/NETWORKING FA | DEVRY UNIVERSITY | FEB 2016 - PRESENT</p>
    <ul>
        <li>Tutored students various subject matter in which they required assistance.</li>
        <li>Provided assistance that relates to each students individual learning style.</li>
        <li>Guided networking students with basic network and hardware implementations.</li>
    </ul>
    <p id="subheading">HEALTH ENTHUSIAST | VITAMIN SHOPPE | 2013 – FEB 2016</p>
    <ul>
        <li>Gained and retained regular customers through reputation and proven knowledge for each tailored need.</li>
        <li>Continued company values through exceeding daily and monthly goals on a consistent basis.</li>
    </ul>
    <p id="subheading">HUMAN RESOURCES SPECIALIST | ARMY NATIONAL GUARD | 2007-2011</p>
    <ul>
        <li>Administered personnel files, finance and personal information. </li>
        <li>Issuance and validation of identification cards.</li>
        <li>Awarded the Army Achievement Medal.</li>
    </ul>

</body>
</html>
